<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.med.brenda.dao.HzsfxxMapper">
  <resultMap id="BaseResultMap" type="com.med.brenda.model.Hzsfxx">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="HZID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="HZNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SFDATE" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="ITEMCODE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ITEMTYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ITEMNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ITEMVALUE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="OTCS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="OTWYS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CONTENT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DRFXCS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DRFXSJD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FXXZ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FXYS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="YYTIME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="YWNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="YWJL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="YYTJ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FYGJ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SSNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SSFS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SSYY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SSBFZ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SSXJ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SSBLBG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="RY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLSQH" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLDJC" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLDJT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLPICC" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLSYG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLFA" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLYWLX" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLYWMC" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLGYTJ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLGYJL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FZ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MZ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SZSG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SZTZ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SZTW" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SZXW" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SZSBW" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SZGSTJ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEMP1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEMP2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEMP3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEMP4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEMP5" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLYWMC2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLGYTJ2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLGYJL2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLYWMC3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLGYTJ3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLGYJL3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLYWMC4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLGYTJ4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HLGYJL4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AFP" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TDB" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="C11" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="VMA" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HVA" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="NSE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="BNP" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="JGDB" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="QT" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, HZID, HZNAME, SFDATE, ITEMCODE, ITEMTYPE, ITEMNAME, ITEMVALUE, OTCS, OTWYS, CONTENT, 
    DRFXCS, DRFXSJD, FXXZ, FXYS, YYTIME, YWNAME, YWJL, YYTJ, FYGJ, SSNAME, SSFS, SSYY, 
    SSBFZ, SSXJ, SSBLBG, RY, CY, HLSQH, HLDJC, HLDJT, HLPICC, HLSYG, HLFA, HLYWLX, HLYWMC, 
    HLGYTJ, HLGYJL, FZ, MZ, SZSG, SZTZ, SZTW, SZXW, SZSBW, SZGSTJ, TEMP1, TEMP2, TEMP3, 
    TEMP4, TEMP5, HLYWMC2, HLGYTJ2, HLGYJL2, HLYWMC3, HLGYTJ3, HLGYJL3, HLYWMC4, HLGYTJ4, 
    HLGYJL4, AFP, TDB, C11, VMA, HVA, NSE, BNP, JGDB, QT
  </sql>
  <select id="findHzxfxxByDate_Hzid" parameterType="java.util.Map"  resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from s_hzsfxx 
    where 1=1 
    <if test="sfzh != null">
    	and SFDATE = #{sfdate,jdbcType=BIGINT}
    </if>
    <if test="password != null">
    	and HZID = #{hzid,jdbcType=BIGINT}
    </if>
  </select>
  <select id="findByHzidDataItemCode" parameterType="java.util.Map"  resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from s_hzsfxx 
    where 1=1 
    <if test="hzid != null">
    	and HZID = #{hzid,jdbcType=BIGINT}
    </if>
    <if test="date != null">
    	and SFDATE = #{date,jdbcType=BIGINT}
    </if>
    <if test="itemcode != null">
    	and ITEMCODE = #{itemcode,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_hzsfxx
    where ID = #{ID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_hzsfxx
    where ID = #{ID,jdbcType=BIGINT}
  </delete>
  <insert id="batchInsert" parameterType="java.util.List">
  	insert into s_hzsfxx (HZID, HZNAME, 
      SFDATE, ITEMCODE, ITEMTYPE, 
      ITEMNAME, ITEMVALUE, OTCS, 
      OTWYS, CONTENT, DRFXCS, 
      DRFXSJD, FXXZ, FXYS, 
      YYTIME, YWNAME, YWJL, 
      YYTJ, FYGJ, SSNAME, 
      SSFS, SSYY, SSBFZ, 
      SSXJ, SSBLBG, RY, CY, 
      HLSQH, HLDJC, HLDJT, 
      HLPICC, HLSYG, HLFA, 
      HLYWLX, HLYWMC, HLGYTJ, 
      HLGYJL, FZ, MZ, SZSG, 
      SZTZ, SZTW, SZXW, SZSBW, 
      SZGSTJ, TEMP1, TEMP2, 
      TEMP3, TEMP4, TEMP5, 
      HLYWMC2, HLGYTJ2, HLGYJL2, 
      HLYWMC3, HLGYTJ3, HLGYJL3, 
      HLYWMC4, HLGYTJ4, HLGYJL4, 
      AFP, TDB, C11, VMA, 
      HVA, NSE, BNP, JGDB, 
      QT)
    values 
    	<foreach collection="list" item="item" index="index" separator="," >
		        ( #{item.HZID,jdbcType=BIGINT}, #{item.HZNAME,jdbcType=VARCHAR}, 
		      #{item.SFDATE,jdbcType=BIGINT}, #{item.ITEMCODE,jdbcType=VARCHAR}, #{item.ITEMTYPE,jdbcType=VARCHAR}, 
		      #{item.ITEMNAME,jdbcType=VARCHAR}, #{item.ITEMVALUE,jdbcType=VARCHAR}, #{item.OTCS,jdbcType=VARCHAR}, 
		      #{item.OTWYS,jdbcType=VARCHAR}, #{item.CONTENT,jdbcType=VARCHAR}, #{item.DRFXCS,jdbcType=VARCHAR}, 
		      #{item.DRFXSJD,jdbcType=VARCHAR}, #{item.FXXZ,jdbcType=VARCHAR}, #{item.FXYS,jdbcType=VARCHAR}, 
		      #{item.YYTIME,jdbcType=VARCHAR}, #{item.YWNAME,jdbcType=VARCHAR}, #{item.YWJL,jdbcType=VARCHAR}, 
		      #{item.YYTJ,jdbcType=VARCHAR}, #{item.FYGJ,jdbcType=VARCHAR}, #{item.SSNAME,jdbcType=VARCHAR}, 
		      #{item.SSFS,jdbcType=VARCHAR}, #{item.SSYY,jdbcType=VARCHAR}, #{item.SSBFZ,jdbcType=VARCHAR}, 
		      #{item.SSXJ,jdbcType=VARCHAR}, #{item.SSBLBG,jdbcType=VARCHAR}, #{item.RY,jdbcType=VARCHAR}, #{item.CY,jdbcType=VARCHAR}, 
		      #{item.HLSQH,jdbcType=VARCHAR}, #{item.HLDJC,jdbcType=VARCHAR}, #{item.HLDJT,jdbcType=VARCHAR}, 
		      #{item.HLPICC,jdbcType=VARCHAR}, #{item.HLSYG,jdbcType=VARCHAR}, #{item.HLFA,jdbcType=VARCHAR}, 
		      #{item.HLYWLX,jdbcType=VARCHAR}, #{item.HLYWMC,jdbcType=VARCHAR}, #{item.HLGYTJ,jdbcType=VARCHAR}, 
		      #{item.HLGYJL,jdbcType=VARCHAR}, #{item.FZ,jdbcType=VARCHAR}, #{item.MZ,jdbcType=VARCHAR}, #{item.SZSG,jdbcType=VARCHAR}, 
		      #{item.SZTZ,jdbcType=VARCHAR}, #{item.SZTW,jdbcType=VARCHAR}, #{item.SZXW,jdbcType=VARCHAR}, #{item.SZSBW,jdbcType=VARCHAR}, 
		      #{item.SZGSTJ,jdbcType=VARCHAR}, #{item.TEMP1,jdbcType=VARCHAR}, #{item.TEMP2,jdbcType=VARCHAR}, 
		      #{item.TEMP3,jdbcType=VARCHAR}, #{item.TEMP4,jdbcType=VARCHAR}, #{item.TEMP5,jdbcType=VARCHAR}, 
		      #{item.HLYWMC2,jdbcType=VARCHAR}, #{item.HLGYTJ2,jdbcType=VARCHAR}, #{item.HLGYJL2,jdbcType=VARCHAR}, 
		      #{item.HLYWMC3,jdbcType=VARCHAR}, #{item.HLGYTJ3,jdbcType=VARCHAR}, #{item.HLGYJL3,jdbcType=VARCHAR}, 
		      #{item.HLYWMC4,jdbcType=VARCHAR}, #{item.HLGYTJ4,jdbcType=VARCHAR}, #{item.HLGYJL4,jdbcType=VARCHAR}, 
		      #{item.AFP,jdbcType=VARCHAR}, #{item.TDB,jdbcType=VARCHAR}, #{item.c11,jdbcType=VARCHAR}, #{item.VMA,jdbcType=VARCHAR}, 
		      #{item.HVA,jdbcType=VARCHAR}, #{item.NSE,jdbcType=VARCHAR}, #{item.BNP,jdbcType=VARCHAR}, #{item.JGDB,jdbcType=VARCHAR}, 
		      #{item.QT,jdbcType=VARCHAR})
    	</foreach>
  </insert>
  <insert id="insert" parameterType="com.med.brenda.model.Hzsfxx">
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="ID">
		SELECT LAST_INSERT_ID() AS ID
		</selectKey>
    insert into s_hzsfxx (HZID, HZNAME, 
      SFDATE, ITEMCODE, ITEMTYPE, 
      ITEMNAME, ITEMVALUE, OTCS, 
      OTWYS, CONTENT, DRFXCS, 
      DRFXSJD, FXXZ, FXYS, 
      YYTIME, YWNAME, YWJL, 
      YYTJ, FYGJ, SSNAME, 
      SSFS, SSYY, SSBFZ, 
      SSXJ, SSBLBG, RY, CY, 
      HLSQH, HLDJC, HLDJT, 
      HLPICC, HLSYG, HLFA, 
      HLYWLX, HLYWMC, HLGYTJ, 
      HLGYJL, FZ, MZ, SZSG, 
      SZTZ, SZTW, SZXW, SZSBW, 
      SZGSTJ, TEMP1, TEMP2, 
      TEMP3, TEMP4, TEMP5, 
      HLYWMC2, HLGYTJ2, HLGYJL2, 
      HLYWMC3, HLGYTJ3, HLGYJL3, 
      HLYWMC4, HLGYTJ4, HLGYJL4, 
      AFP, TDB, C11, VMA, 
      HVA, NSE, BNP, JGDB, 
      QT)
    values (#{HZID,jdbcType=BIGINT}, #{HZNAME,jdbcType=VARCHAR}, 
      #{SFDATE,jdbcType=BIGINT}, #{ITEMCODE,jdbcType=VARCHAR}, #{ITEMTYPE,jdbcType=VARCHAR}, 
      #{ITEMNAME,jdbcType=VARCHAR}, #{ITEMVALUE,jdbcType=VARCHAR}, #{OTCS,jdbcType=VARCHAR}, 
      #{OTWYS,jdbcType=VARCHAR}, #{CONTENT,jdbcType=VARCHAR}, #{DRFXCS,jdbcType=VARCHAR}, 
      #{DRFXSJD,jdbcType=VARCHAR}, #{FXXZ,jdbcType=VARCHAR}, #{FXYS,jdbcType=VARCHAR}, 
      #{YYTIME,jdbcType=VARCHAR}, #{YWNAME,jdbcType=VARCHAR}, #{YWJL,jdbcType=VARCHAR}, 
      #{YYTJ,jdbcType=VARCHAR}, #{FYGJ,jdbcType=VARCHAR}, #{SSNAME,jdbcType=VARCHAR}, 
      #{SSFS,jdbcType=VARCHAR}, #{SSYY,jdbcType=VARCHAR}, #{SSBFZ,jdbcType=VARCHAR}, 
      #{SSXJ,jdbcType=VARCHAR}, #{SSBLBG,jdbcType=VARCHAR}, #{RY,jdbcType=VARCHAR}, #{CY,jdbcType=VARCHAR}, 
      #{HLSQH,jdbcType=VARCHAR}, #{HLDJC,jdbcType=VARCHAR}, #{HLDJT,jdbcType=VARCHAR}, 
      #{HLPICC,jdbcType=VARCHAR}, #{HLSYG,jdbcType=VARCHAR}, #{HLFA,jdbcType=VARCHAR}, 
      #{HLYWLX,jdbcType=VARCHAR}, #{HLYWMC,jdbcType=VARCHAR}, #{HLGYTJ,jdbcType=VARCHAR}, 
      #{HLGYJL,jdbcType=VARCHAR}, #{FZ,jdbcType=VARCHAR}, #{MZ,jdbcType=VARCHAR}, #{SZSG,jdbcType=VARCHAR}, 
      #{SZTZ,jdbcType=VARCHAR}, #{SZTW,jdbcType=VARCHAR}, #{SZXW,jdbcType=VARCHAR}, #{SZSBW,jdbcType=VARCHAR}, 
      #{SZGSTJ,jdbcType=VARCHAR}, #{TEMP1,jdbcType=VARCHAR}, #{TEMP2,jdbcType=VARCHAR}, 
      #{TEMP3,jdbcType=VARCHAR}, #{TEMP4,jdbcType=VARCHAR}, #{TEMP5,jdbcType=VARCHAR}, 
      #{HLYWMC2,jdbcType=VARCHAR}, #{HLGYTJ2,jdbcType=VARCHAR}, #{HLGYJL2,jdbcType=VARCHAR}, 
      #{HLYWMC3,jdbcType=VARCHAR}, #{HLGYTJ3,jdbcType=VARCHAR}, #{HLGYJL3,jdbcType=VARCHAR}, 
      #{HLYWMC4,jdbcType=VARCHAR}, #{HLGYTJ4,jdbcType=VARCHAR}, #{HLGYJL4,jdbcType=VARCHAR}, 
      #{AFP,jdbcType=VARCHAR}, #{TDB,jdbcType=VARCHAR}, #{c11,jdbcType=VARCHAR}, #{VMA,jdbcType=VARCHAR}, 
      #{HVA,jdbcType=VARCHAR}, #{NSE,jdbcType=VARCHAR}, #{BNP,jdbcType=VARCHAR}, #{JGDB,jdbcType=VARCHAR}, 
      #{QT,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.med.brenda.model.Hzsfxx">
    insert into s_hzsfxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="HZID != null">
        HZID,
      </if>
      <if test="HZNAME != null">
        HZNAME,
      </if>
      <if test="SFDATE != null">
        SFDATE,
      </if>
      <if test="ITEMCODE != null">
        ITEMCODE,
      </if>
      <if test="ITEMTYPE != null">
        ITEMTYPE,
      </if>
      <if test="ITEMNAME != null">
        ITEMNAME,
      </if>
      <if test="ITEMVALUE != null">
        ITEMVALUE,
      </if>
      <if test="OTCS != null">
        OTCS,
      </if>
      <if test="OTWYS != null">
        OTWYS,
      </if>
      <if test="CONTENT != null">
        CONTENT,
      </if>
      <if test="DRFXCS != null">
        DRFXCS,
      </if>
      <if test="DRFXSJD != null">
        DRFXSJD,
      </if>
      <if test="FXXZ != null">
        FXXZ,
      </if>
      <if test="FXYS != null">
        FXYS,
      </if>
      <if test="YYTIME != null">
        YYTIME,
      </if>
      <if test="YWNAME != null">
        YWNAME,
      </if>
      <if test="YWJL != null">
        YWJL,
      </if>
      <if test="YYTJ != null">
        YYTJ,
      </if>
      <if test="FYGJ != null">
        FYGJ,
      </if>
      <if test="SSNAME != null">
        SSNAME,
      </if>
      <if test="SSFS != null">
        SSFS,
      </if>
      <if test="SSYY != null">
        SSYY,
      </if>
      <if test="SSBFZ != null">
        SSBFZ,
      </if>
      <if test="SSXJ != null">
        SSXJ,
      </if>
      <if test="SSBLBG != null">
        SSBLBG,
      </if>
      <if test="RY != null">
        RY,
      </if>
      <if test="CY != null">
        CY,
      </if>
      <if test="HLSQH != null">
        HLSQH,
      </if>
      <if test="HLDJC != null">
        HLDJC,
      </if>
      <if test="HLDJT != null">
        HLDJT,
      </if>
      <if test="HLPICC != null">
        HLPICC,
      </if>
      <if test="HLSYG != null">
        HLSYG,
      </if>
      <if test="HLFA != null">
        HLFA,
      </if>
      <if test="HLYWLX != null">
        HLYWLX,
      </if>
      <if test="HLYWMC != null">
        HLYWMC,
      </if>
      <if test="HLGYTJ != null">
        HLGYTJ,
      </if>
      <if test="HLGYJL != null">
        HLGYJL,
      </if>
      <if test="FZ != null">
        FZ,
      </if>
      <if test="MZ != null">
        MZ,
      </if>
      <if test="SZSG != null">
        SZSG,
      </if>
      <if test="SZTZ != null">
        SZTZ,
      </if>
      <if test="SZTW != null">
        SZTW,
      </if>
      <if test="SZXW != null">
        SZXW,
      </if>
      <if test="SZSBW != null">
        SZSBW,
      </if>
      <if test="SZGSTJ != null">
        SZGSTJ,
      </if>
      <if test="TEMP1 != null">
        TEMP1,
      </if>
      <if test="TEMP2 != null">
        TEMP2,
      </if>
      <if test="TEMP3 != null">
        TEMP3,
      </if>
      <if test="TEMP4 != null">
        TEMP4,
      </if>
      <if test="TEMP5 != null">
        TEMP5,
      </if>
      <if test="HLYWMC2 != null">
        HLYWMC2,
      </if>
      <if test="HLGYTJ2 != null">
        HLGYTJ2,
      </if>
      <if test="HLGYJL2 != null">
        HLGYJL2,
      </if>
      <if test="HLYWMC3 != null">
        HLYWMC3,
      </if>
      <if test="HLGYTJ3 != null">
        HLGYTJ3,
      </if>
      <if test="HLGYJL3 != null">
        HLGYJL3,
      </if>
      <if test="HLYWMC4 != null">
        HLYWMC4,
      </if>
      <if test="HLGYTJ4 != null">
        HLGYTJ4,
      </if>
      <if test="HLGYJL4 != null">
        HLGYJL4,
      </if>
      <if test="AFP != null">
        AFP,
      </if>
      <if test="TDB != null">
        TDB,
      </if>
      <if test="c11 != null">
        C11,
      </if>
      <if test="VMA != null">
        VMA,
      </if>
      <if test="HVA != null">
        HVA,
      </if>
      <if test="NSE != null">
        NSE,
      </if>
      <if test="BNP != null">
        BNP,
      </if>
      <if test="JGDB != null">
        JGDB,
      </if>
      <if test="QT != null">
        QT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=BIGINT},
      </if>
      <if test="HZID != null">
        #{HZID,jdbcType=BIGINT},
      </if>
      <if test="HZNAME != null">
        #{HZNAME,jdbcType=VARCHAR},
      </if>
      <if test="SFDATE != null">
        #{SFDATE,jdbcType=BIGINT},
      </if>
      <if test="ITEMCODE != null">
        #{ITEMCODE,jdbcType=VARCHAR},
      </if>
      <if test="ITEMTYPE != null">
        #{ITEMTYPE,jdbcType=VARCHAR},
      </if>
      <if test="ITEMNAME != null">
        #{ITEMNAME,jdbcType=VARCHAR},
      </if>
      <if test="ITEMVALUE != null">
        #{ITEMVALUE,jdbcType=VARCHAR},
      </if>
      <if test="OTCS != null">
        #{OTCS,jdbcType=VARCHAR},
      </if>
      <if test="OTWYS != null">
        #{OTWYS,jdbcType=VARCHAR},
      </if>
      <if test="CONTENT != null">
        #{CONTENT,jdbcType=VARCHAR},
      </if>
      <if test="DRFXCS != null">
        #{DRFXCS,jdbcType=VARCHAR},
      </if>
      <if test="DRFXSJD != null">
        #{DRFXSJD,jdbcType=VARCHAR},
      </if>
      <if test="FXXZ != null">
        #{FXXZ,jdbcType=VARCHAR},
      </if>
      <if test="FXYS != null">
        #{FXYS,jdbcType=VARCHAR},
      </if>
      <if test="YYTIME != null">
        #{YYTIME,jdbcType=VARCHAR},
      </if>
      <if test="YWNAME != null">
        #{YWNAME,jdbcType=VARCHAR},
      </if>
      <if test="YWJL != null">
        #{YWJL,jdbcType=VARCHAR},
      </if>
      <if test="YYTJ != null">
        #{YYTJ,jdbcType=VARCHAR},
      </if>
      <if test="FYGJ != null">
        #{FYGJ,jdbcType=VARCHAR},
      </if>
      <if test="SSNAME != null">
        #{SSNAME,jdbcType=VARCHAR},
      </if>
      <if test="SSFS != null">
        #{SSFS,jdbcType=VARCHAR},
      </if>
      <if test="SSYY != null">
        #{SSYY,jdbcType=VARCHAR},
      </if>
      <if test="SSBFZ != null">
        #{SSBFZ,jdbcType=VARCHAR},
      </if>
      <if test="SSXJ != null">
        #{SSXJ,jdbcType=VARCHAR},
      </if>
      <if test="SSBLBG != null">
        #{SSBLBG,jdbcType=VARCHAR},
      </if>
      <if test="RY != null">
        #{RY,jdbcType=VARCHAR},
      </if>
      <if test="CY != null">
        #{CY,jdbcType=VARCHAR},
      </if>
      <if test="HLSQH != null">
        #{HLSQH,jdbcType=VARCHAR},
      </if>
      <if test="HLDJC != null">
        #{HLDJC,jdbcType=VARCHAR},
      </if>
      <if test="HLDJT != null">
        #{HLDJT,jdbcType=VARCHAR},
      </if>
      <if test="HLPICC != null">
        #{HLPICC,jdbcType=VARCHAR},
      </if>
      <if test="HLSYG != null">
        #{HLSYG,jdbcType=VARCHAR},
      </if>
      <if test="HLFA != null">
        #{HLFA,jdbcType=VARCHAR},
      </if>
      <if test="HLYWLX != null">
        #{HLYWLX,jdbcType=VARCHAR},
      </if>
      <if test="HLYWMC != null">
        #{HLYWMC,jdbcType=VARCHAR},
      </if>
      <if test="HLGYTJ != null">
        #{HLGYTJ,jdbcType=VARCHAR},
      </if>
      <if test="HLGYJL != null">
        #{HLGYJL,jdbcType=VARCHAR},
      </if>
      <if test="FZ != null">
        #{FZ,jdbcType=VARCHAR},
      </if>
      <if test="MZ != null">
        #{MZ,jdbcType=VARCHAR},
      </if>
      <if test="SZSG != null">
        #{SZSG,jdbcType=VARCHAR},
      </if>
      <if test="SZTZ != null">
        #{SZTZ,jdbcType=VARCHAR},
      </if>
      <if test="SZTW != null">
        #{SZTW,jdbcType=VARCHAR},
      </if>
      <if test="SZXW != null">
        #{SZXW,jdbcType=VARCHAR},
      </if>
      <if test="SZSBW != null">
        #{SZSBW,jdbcType=VARCHAR},
      </if>
      <if test="SZGSTJ != null">
        #{SZGSTJ,jdbcType=VARCHAR},
      </if>
      <if test="TEMP1 != null">
        #{TEMP1,jdbcType=VARCHAR},
      </if>
      <if test="TEMP2 != null">
        #{TEMP2,jdbcType=VARCHAR},
      </if>
      <if test="TEMP3 != null">
        #{TEMP3,jdbcType=VARCHAR},
      </if>
      <if test="TEMP4 != null">
        #{TEMP4,jdbcType=VARCHAR},
      </if>
      <if test="TEMP5 != null">
        #{TEMP5,jdbcType=VARCHAR},
      </if>
      <if test="HLYWMC2 != null">
        #{HLYWMC2,jdbcType=VARCHAR},
      </if>
      <if test="HLGYTJ2 != null">
        #{HLGYTJ2,jdbcType=VARCHAR},
      </if>
      <if test="HLGYJL2 != null">
        #{HLGYJL2,jdbcType=VARCHAR},
      </if>
      <if test="HLYWMC3 != null">
        #{HLYWMC3,jdbcType=VARCHAR},
      </if>
      <if test="HLGYTJ3 != null">
        #{HLGYTJ3,jdbcType=VARCHAR},
      </if>
      <if test="HLGYJL3 != null">
        #{HLGYJL3,jdbcType=VARCHAR},
      </if>
      <if test="HLYWMC4 != null">
        #{HLYWMC4,jdbcType=VARCHAR},
      </if>
      <if test="HLGYTJ4 != null">
        #{HLGYTJ4,jdbcType=VARCHAR},
      </if>
      <if test="HLGYJL4 != null">
        #{HLGYJL4,jdbcType=VARCHAR},
      </if>
      <if test="AFP != null">
        #{AFP,jdbcType=VARCHAR},
      </if>
      <if test="TDB != null">
        #{TDB,jdbcType=VARCHAR},
      </if>
      <if test="c11 != null">
        #{c11,jdbcType=VARCHAR},
      </if>
      <if test="VMA != null">
        #{VMA,jdbcType=VARCHAR},
      </if>
      <if test="HVA != null">
        #{HVA,jdbcType=VARCHAR},
      </if>
      <if test="NSE != null">
        #{NSE,jdbcType=VARCHAR},
      </if>
      <if test="BNP != null">
        #{BNP,jdbcType=VARCHAR},
      </if>
      <if test="JGDB != null">
        #{JGDB,jdbcType=VARCHAR},
      </if>
      <if test="QT != null">
        #{QT,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.med.brenda.model.Hzsfxx">
    update s_hzsfxx
    <set>
      <if test="HZID != null">
        HZID = #{HZID,jdbcType=BIGINT},
      </if>
      <if test="HZNAME != null">
        HZNAME = #{HZNAME,jdbcType=VARCHAR},
      </if>
      <if test="SFDATE != null">
        SFDATE = #{SFDATE,jdbcType=BIGINT},
      </if>
      <if test="ITEMCODE != null">
        ITEMCODE = #{ITEMCODE,jdbcType=VARCHAR},
      </if>
      <if test="ITEMTYPE != null">
        ITEMTYPE = #{ITEMTYPE,jdbcType=VARCHAR},
      </if>
      <if test="ITEMNAME != null">
        ITEMNAME = #{ITEMNAME,jdbcType=VARCHAR},
      </if>
      <if test="ITEMVALUE != null">
        ITEMVALUE = #{ITEMVALUE,jdbcType=VARCHAR},
      </if>
      <if test="OTCS != null">
        OTCS = #{OTCS,jdbcType=VARCHAR},
      </if>
      <if test="OTWYS != null">
        OTWYS = #{OTWYS,jdbcType=VARCHAR},
      </if>
      <if test="CONTENT != null">
        CONTENT = #{CONTENT,jdbcType=VARCHAR},
      </if>
      <if test="DRFXCS != null">
        DRFXCS = #{DRFXCS,jdbcType=VARCHAR},
      </if>
      <if test="DRFXSJD != null">
        DRFXSJD = #{DRFXSJD,jdbcType=VARCHAR},
      </if>
      <if test="FXXZ != null">
        FXXZ = #{FXXZ,jdbcType=VARCHAR},
      </if>
      <if test="FXYS != null">
        FXYS = #{FXYS,jdbcType=VARCHAR},
      </if>
      <if test="YYTIME != null">
        YYTIME = #{YYTIME,jdbcType=VARCHAR},
      </if>
      <if test="YWNAME != null">
        YWNAME = #{YWNAME,jdbcType=VARCHAR},
      </if>
      <if test="YWJL != null">
        YWJL = #{YWJL,jdbcType=VARCHAR},
      </if>
      <if test="YYTJ != null">
        YYTJ = #{YYTJ,jdbcType=VARCHAR},
      </if>
      <if test="FYGJ != null">
        FYGJ = #{FYGJ,jdbcType=VARCHAR},
      </if>
      <if test="SSNAME != null">
        SSNAME = #{SSNAME,jdbcType=VARCHAR},
      </if>
      <if test="SSFS != null">
        SSFS = #{SSFS,jdbcType=VARCHAR},
      </if>
      <if test="SSYY != null">
        SSYY = #{SSYY,jdbcType=VARCHAR},
      </if>
      <if test="SSBFZ != null">
        SSBFZ = #{SSBFZ,jdbcType=VARCHAR},
      </if>
      <if test="SSXJ != null">
        SSXJ = #{SSXJ,jdbcType=VARCHAR},
      </if>
      <if test="SSBLBG != null">
        SSBLBG = #{SSBLBG,jdbcType=VARCHAR},
      </if>
      <if test="RY != null">
        RY = #{RY,jdbcType=VARCHAR},
      </if>
      <if test="CY != null">
        CY = #{CY,jdbcType=VARCHAR},
      </if>
      <if test="HLSQH != null">
        HLSQH = #{HLSQH,jdbcType=VARCHAR},
      </if>
      <if test="HLDJC != null">
        HLDJC = #{HLDJC,jdbcType=VARCHAR},
      </if>
      <if test="HLDJT != null">
        HLDJT = #{HLDJT,jdbcType=VARCHAR},
      </if>
      <if test="HLPICC != null">
        HLPICC = #{HLPICC,jdbcType=VARCHAR},
      </if>
      <if test="HLSYG != null">
        HLSYG = #{HLSYG,jdbcType=VARCHAR},
      </if>
      <if test="HLFA != null">
        HLFA = #{HLFA,jdbcType=VARCHAR},
      </if>
      <if test="HLYWLX != null">
        HLYWLX = #{HLYWLX,jdbcType=VARCHAR},
      </if>
      <if test="HLYWMC != null">
        HLYWMC = #{HLYWMC,jdbcType=VARCHAR},
      </if>
      <if test="HLGYTJ != null">
        HLGYTJ = #{HLGYTJ,jdbcType=VARCHAR},
      </if>
      <if test="HLGYJL != null">
        HLGYJL = #{HLGYJL,jdbcType=VARCHAR},
      </if>
      <if test="FZ != null">
        FZ = #{FZ,jdbcType=VARCHAR},
      </if>
      <if test="MZ != null">
        MZ = #{MZ,jdbcType=VARCHAR},
      </if>
      <if test="SZSG != null">
        SZSG = #{SZSG,jdbcType=VARCHAR},
      </if>
      <if test="SZTZ != null">
        SZTZ = #{SZTZ,jdbcType=VARCHAR},
      </if>
      <if test="SZTW != null">
        SZTW = #{SZTW,jdbcType=VARCHAR},
      </if>
      <if test="SZXW != null">
        SZXW = #{SZXW,jdbcType=VARCHAR},
      </if>
      <if test="SZSBW != null">
        SZSBW = #{SZSBW,jdbcType=VARCHAR},
      </if>
      <if test="SZGSTJ != null">
        SZGSTJ = #{SZGSTJ,jdbcType=VARCHAR},
      </if>
      <if test="TEMP1 != null">
        TEMP1 = #{TEMP1,jdbcType=VARCHAR},
      </if>
      <if test="TEMP2 != null">
        TEMP2 = #{TEMP2,jdbcType=VARCHAR},
      </if>
      <if test="TEMP3 != null">
        TEMP3 = #{TEMP3,jdbcType=VARCHAR},
      </if>
      <if test="TEMP4 != null">
        TEMP4 = #{TEMP4,jdbcType=VARCHAR},
      </if>
      <if test="TEMP5 != null">
        TEMP5 = #{TEMP5,jdbcType=VARCHAR},
      </if>
      <if test="HLYWMC2 != null">
        HLYWMC2 = #{HLYWMC2,jdbcType=VARCHAR},
      </if>
      <if test="HLGYTJ2 != null">
        HLGYTJ2 = #{HLGYTJ2,jdbcType=VARCHAR},
      </if>
      <if test="HLGYJL2 != null">
        HLGYJL2 = #{HLGYJL2,jdbcType=VARCHAR},
      </if>
      <if test="HLYWMC3 != null">
        HLYWMC3 = #{HLYWMC3,jdbcType=VARCHAR},
      </if>
      <if test="HLGYTJ3 != null">
        HLGYTJ3 = #{HLGYTJ3,jdbcType=VARCHAR},
      </if>
      <if test="HLGYJL3 != null">
        HLGYJL3 = #{HLGYJL3,jdbcType=VARCHAR},
      </if>
      <if test="HLYWMC4 != null">
        HLYWMC4 = #{HLYWMC4,jdbcType=VARCHAR},
      </if>
      <if test="HLGYTJ4 != null">
        HLGYTJ4 = #{HLGYTJ4,jdbcType=VARCHAR},
      </if>
      <if test="HLGYJL4 != null">
        HLGYJL4 = #{HLGYJL4,jdbcType=VARCHAR},
      </if>
      <if test="AFP != null">
        AFP = #{AFP,jdbcType=VARCHAR},
      </if>
      <if test="TDB != null">
        TDB = #{TDB,jdbcType=VARCHAR},
      </if>
      <if test="c11 != null">
        C11 = #{c11,jdbcType=VARCHAR},
      </if>
      <if test="VMA != null">
        VMA = #{VMA,jdbcType=VARCHAR},
      </if>
      <if test="HVA != null">
        HVA = #{HVA,jdbcType=VARCHAR},
      </if>
      <if test="NSE != null">
        NSE = #{NSE,jdbcType=VARCHAR},
      </if>
      <if test="BNP != null">
        BNP = #{BNP,jdbcType=VARCHAR},
      </if>
      <if test="JGDB != null">
        JGDB = #{JGDB,jdbcType=VARCHAR},
      </if>
      <if test="QT != null">
        QT = #{QT,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.med.brenda.model.Hzsfxx">
    update s_hzsfxx
    set HZID = #{HZID,jdbcType=BIGINT},
      HZNAME = #{HZNAME,jdbcType=VARCHAR},
      SFDATE = #{SFDATE,jdbcType=BIGINT},
      ITEMCODE = #{ITEMCODE,jdbcType=VARCHAR},
      ITEMTYPE = #{ITEMTYPE,jdbcType=VARCHAR},
      ITEMNAME = #{ITEMNAME,jdbcType=VARCHAR},
      ITEMVALUE = #{ITEMVALUE,jdbcType=VARCHAR},
      OTCS = #{OTCS,jdbcType=VARCHAR},
      OTWYS = #{OTWYS,jdbcType=VARCHAR},
      CONTENT = #{CONTENT,jdbcType=VARCHAR},
      DRFXCS = #{DRFXCS,jdbcType=VARCHAR},
      DRFXSJD = #{DRFXSJD,jdbcType=VARCHAR},
      FXXZ = #{FXXZ,jdbcType=VARCHAR},
      FXYS = #{FXYS,jdbcType=VARCHAR},
      YYTIME = #{YYTIME,jdbcType=VARCHAR},
      YWNAME = #{YWNAME,jdbcType=VARCHAR},
      YWJL = #{YWJL,jdbcType=VARCHAR},
      YYTJ = #{YYTJ,jdbcType=VARCHAR},
      FYGJ = #{FYGJ,jdbcType=VARCHAR},
      SSNAME = #{SSNAME,jdbcType=VARCHAR},
      SSFS = #{SSFS,jdbcType=VARCHAR},
      SSYY = #{SSYY,jdbcType=VARCHAR},
      SSBFZ = #{SSBFZ,jdbcType=VARCHAR},
      SSXJ = #{SSXJ,jdbcType=VARCHAR},
      SSBLBG = #{SSBLBG,jdbcType=VARCHAR},
      RY = #{RY,jdbcType=VARCHAR},
      CY = #{CY,jdbcType=VARCHAR},
      HLSQH = #{HLSQH,jdbcType=VARCHAR},
      HLDJC = #{HLDJC,jdbcType=VARCHAR},
      HLDJT = #{HLDJT,jdbcType=VARCHAR},
      HLPICC = #{HLPICC,jdbcType=VARCHAR},
      HLSYG = #{HLSYG,jdbcType=VARCHAR},
      HLFA = #{HLFA,jdbcType=VARCHAR},
      HLYWLX = #{HLYWLX,jdbcType=VARCHAR},
      HLYWMC = #{HLYWMC,jdbcType=VARCHAR},
      HLGYTJ = #{HLGYTJ,jdbcType=VARCHAR},
      HLGYJL = #{HLGYJL,jdbcType=VARCHAR},
      FZ = #{FZ,jdbcType=VARCHAR},
      MZ = #{MZ,jdbcType=VARCHAR},
      SZSG = #{SZSG,jdbcType=VARCHAR},
      SZTZ = #{SZTZ,jdbcType=VARCHAR},
      SZTW = #{SZTW,jdbcType=VARCHAR},
      SZXW = #{SZXW,jdbcType=VARCHAR},
      SZSBW = #{SZSBW,jdbcType=VARCHAR},
      SZGSTJ = #{SZGSTJ,jdbcType=VARCHAR},
      TEMP1 = #{TEMP1,jdbcType=VARCHAR},
      TEMP2 = #{TEMP2,jdbcType=VARCHAR},
      TEMP3 = #{TEMP3,jdbcType=VARCHAR},
      TEMP4 = #{TEMP4,jdbcType=VARCHAR},
      TEMP5 = #{TEMP5,jdbcType=VARCHAR},
      HLYWMC2 = #{HLYWMC2,jdbcType=VARCHAR},
      HLGYTJ2 = #{HLGYTJ2,jdbcType=VARCHAR},
      HLGYJL2 = #{HLGYJL2,jdbcType=VARCHAR},
      HLYWMC3 = #{HLYWMC3,jdbcType=VARCHAR},
      HLGYTJ3 = #{HLGYTJ3,jdbcType=VARCHAR},
      HLGYJL3 = #{HLGYJL3,jdbcType=VARCHAR},
      HLYWMC4 = #{HLYWMC4,jdbcType=VARCHAR},
      HLGYTJ4 = #{HLGYTJ4,jdbcType=VARCHAR},
      HLGYJL4 = #{HLGYJL4,jdbcType=VARCHAR},
      AFP = #{AFP,jdbcType=VARCHAR},
      TDB = #{TDB,jdbcType=VARCHAR},
      C11 = #{c11,jdbcType=VARCHAR},
      VMA = #{VMA,jdbcType=VARCHAR},
      HVA = #{HVA,jdbcType=VARCHAR},
      NSE = #{NSE,jdbcType=VARCHAR},
      BNP = #{BNP,jdbcType=VARCHAR},
      JGDB = #{JGDB,jdbcType=VARCHAR},
      QT = #{QT,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=BIGINT}
  </update>
</mapper>