<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.med.brenda.dao.HzxiaoxiMapper">
  <resultMap id="BaseResultMap" type="com.med.brenda.model.Hzxiaoxi">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="KSID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="KSNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="YSID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="YSNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HZID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="HZNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TITLE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CONTENT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEMP1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEMP2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEMP3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEMP4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEMP5" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, KSID, KSNAME, YSID, YSNAME, HZID, HZNAME, TITLE, CONTENT, TEMP1, TEMP2, TEMP3, 
    TEMP4, TEMP5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_hzxiaoxi
    where ID = #{ID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_hzxiaoxi
    where ID = #{ID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.med.brenda.model.Hzxiaoxi">
  <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="ID">
		SELECT LAST_INSERT_ID() AS ID
		</selectKey>
    insert into s_hzxiaoxi (KSID, KSNAME, 
      YSID, YSNAME, HZID, HZNAME, 
      TITLE, CONTENT, TEMP1, 
      TEMP2, TEMP3, TEMP4, 
      TEMP5)
    values (#{KSID,jdbcType=BIGINT}, #{KSNAME,jdbcType=VARCHAR}, 
      #{YSID,jdbcType=BIGINT}, #{YSNAME,jdbcType=VARCHAR}, #{HZID,jdbcType=BIGINT}, #{HZNAME,jdbcType=VARCHAR}, 
      #{TITLE,jdbcType=VARCHAR}, #{CONTENT,jdbcType=VARCHAR}, #{TEMP1,jdbcType=VARCHAR}, 
      #{TEMP2,jdbcType=VARCHAR}, #{TEMP3,jdbcType=VARCHAR}, #{TEMP4,jdbcType=VARCHAR}, 
      #{TEMP5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.med.brenda.model.Hzxiaoxi">
    insert into s_hzxiaoxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="KSID != null">
        KSID,
      </if>
      <if test="KSNAME != null">
        KSNAME,
      </if>
      <if test="YSID != null">
        YSID,
      </if>
      <if test="YSNAME != null">
        YSNAME,
      </if>
      <if test="HZID != null">
        HZID,
      </if>
      <if test="HZNAME != null">
        HZNAME,
      </if>
      <if test="TITLE != null">
        TITLE,
      </if>
      <if test="CONTENT != null">
        CONTENT,
      </if>
      <if test="TEMP1 != null">
        TEMP1,
      </if>
      <if test="TEMP2 != null">
        TEMP2,
      </if>
      <if test="TEMP3 != null">
        TEMP3,
      </if>
      <if test="TEMP4 != null">
        TEMP4,
      </if>
      <if test="TEMP5 != null">
        TEMP5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=BIGINT},
      </if>
      <if test="KSID != null">
        #{KSID,jdbcType=BIGINT},
      </if>
      <if test="KSNAME != null">
        #{KSNAME,jdbcType=VARCHAR},
      </if>
      <if test="YSID != null">
        #{YSID,jdbcType=BIGINT},
      </if>
      <if test="YSNAME != null">
        #{YSNAME,jdbcType=VARCHAR},
      </if>
      <if test="HZID != null">
        #{HZID,jdbcType=BIGINT},
      </if>
      <if test="HZNAME != null">
        #{HZNAME,jdbcType=VARCHAR},
      </if>
      <if test="TITLE != null">
        #{TITLE,jdbcType=VARCHAR},
      </if>
      <if test="CONTENT != null">
        #{CONTENT,jdbcType=VARCHAR},
      </if>
      <if test="TEMP1 != null">
        #{TEMP1,jdbcType=VARCHAR},
      </if>
      <if test="TEMP2 != null">
        #{TEMP2,jdbcType=VARCHAR},
      </if>
      <if test="TEMP3 != null">
        #{TEMP3,jdbcType=VARCHAR},
      </if>
      <if test="TEMP4 != null">
        #{TEMP4,jdbcType=VARCHAR},
      </if>
      <if test="TEMP5 != null">
        #{TEMP5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.med.brenda.model.Hzxiaoxi">
    update s_hzxiaoxi
    <set>
      <if test="KSID != null">
        KSID = #{KSID,jdbcType=BIGINT},
      </if>
      <if test="KSNAME != null">
        KSNAME = #{KSNAME,jdbcType=VARCHAR},
      </if>
      <if test="YSID != null">
        YSID = #{YSID,jdbcType=BIGINT},
      </if>
      <if test="YSNAME != null">
        YSNAME = #{YSNAME,jdbcType=VARCHAR},
      </if>
      <if test="HZID != null">
        HZID = #{HZID,jdbcType=BIGINT},
      </if>
      <if test="HZNAME != null">
        HZNAME = #{HZNAME,jdbcType=VARCHAR},
      </if>
      <if test="TITLE != null">
        TITLE = #{TITLE,jdbcType=VARCHAR},
      </if>
      <if test="CONTENT != null">
        CONTENT = #{CONTENT,jdbcType=VARCHAR},
      </if>
      <if test="TEMP1 != null">
        TEMP1 = #{TEMP1,jdbcType=VARCHAR},
      </if>
      <if test="TEMP2 != null">
        TEMP2 = #{TEMP2,jdbcType=VARCHAR},
      </if>
      <if test="TEMP3 != null">
        TEMP3 = #{TEMP3,jdbcType=VARCHAR},
      </if>
      <if test="TEMP4 != null">
        TEMP4 = #{TEMP4,jdbcType=VARCHAR},
      </if>
      <if test="TEMP5 != null">
        TEMP5 = #{TEMP5,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.med.brenda.model.Hzxiaoxi">
    update s_hzxiaoxi
    set KSID = #{KSID,jdbcType=BIGINT},
      KSNAME = #{KSNAME,jdbcType=VARCHAR},
      YSID = #{YSID,jdbcType=BIGINT},
      YSNAME = #{YSNAME,jdbcType=VARCHAR},
      HZID = #{HZID,jdbcType=BIGINT},
      HZNAME = #{HZNAME,jdbcType=VARCHAR},
      TITLE = #{TITLE,jdbcType=VARCHAR},
      CONTENT = #{CONTENT,jdbcType=VARCHAR},
      TEMP1 = #{TEMP1,jdbcType=VARCHAR},
      TEMP2 = #{TEMP2,jdbcType=VARCHAR},
      TEMP3 = #{TEMP3,jdbcType=VARCHAR},
      TEMP4 = #{TEMP4,jdbcType=VARCHAR},
      TEMP5 = #{TEMP5,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=BIGINT}
  </update>
</mapper>