<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.med.brenda.dao.TnbTnbsonMapper">
  <resultMap id="BaseResultMap" type="com.med.brenda.model.TnbTnbson">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="fatherid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="hzid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="itemcode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="itemname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="itemvalue" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="yds" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ydsjl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ydsejsg" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tjdate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ydlx" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ydcxsj" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ydtjbz" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zzdndy" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zzyn" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zzxs" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zzfl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zzqt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp5" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, fatherid, hzid, itemcode, itemname, itemvalue, yds, ydsjl, ydsejsg, tjdate, ydlx, 
    ydcxsj, ydtjbz, zzdndy, zzyn, zzxs, zzfl, zzqt, temp1, temp2, temp3, temp4, temp5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from S_TNB_TNBSON
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from S_TNB_TNBSON
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.med.brenda.model.TnbTnbson">
    insert into S_TNB_TNBSON (id, fatherid, hzid, 
      itemcode, itemname, itemvalue, 
      yds, ydsjl, ydsejsg, 
      tjdate, ydlx, ydcxsj, 
      ydtjbz, zzdndy, zzyn, 
      zzxs, zzfl, zzqt, temp1, 
      temp2, temp3, temp4, 
      temp5)
    values (#{id,jdbcType=BIGINT}, #{fatherid,jdbcType=BIGINT}, #{hzid,jdbcType=BIGINT}, 
      #{itemcode,jdbcType=VARCHAR}, #{itemname,jdbcType=VARCHAR}, #{itemvalue,jdbcType=VARCHAR}, 
      #{yds,jdbcType=VARCHAR}, #{ydsjl,jdbcType=VARCHAR}, #{ydsejsg,jdbcType=VARCHAR}, 
      #{tjdate,jdbcType=VARCHAR}, #{ydlx,jdbcType=VARCHAR}, #{ydcxsj,jdbcType=VARCHAR}, 
      #{ydtjbz,jdbcType=VARCHAR}, #{zzdndy,jdbcType=VARCHAR}, #{zzyn,jdbcType=VARCHAR}, 
      #{zzxs,jdbcType=VARCHAR}, #{zzfl,jdbcType=VARCHAR}, #{zzqt,jdbcType=VARCHAR}, #{temp1,jdbcType=VARCHAR}, 
      #{temp2,jdbcType=VARCHAR}, #{temp3,jdbcType=VARCHAR}, #{temp4,jdbcType=VARCHAR}, 
      #{temp5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.med.brenda.model.TnbTnbson">
    insert into S_TNB_TNBSON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fatherid != null">
        fatherid,
      </if>
      <if test="hzid != null">
        hzid,
      </if>
      <if test="itemcode != null">
        itemcode,
      </if>
      <if test="itemname != null">
        itemname,
      </if>
      <if test="itemvalue != null">
        itemvalue,
      </if>
      <if test="yds != null">
        yds,
      </if>
      <if test="ydsjl != null">
        ydsjl,
      </if>
      <if test="ydsejsg != null">
        ydsejsg,
      </if>
      <if test="tjdate != null">
        tjdate,
      </if>
      <if test="ydlx != null">
        ydlx,
      </if>
      <if test="ydcxsj != null">
        ydcxsj,
      </if>
      <if test="ydtjbz != null">
        ydtjbz,
      </if>
      <if test="zzdndy != null">
        zzdndy,
      </if>
      <if test="zzyn != null">
        zzyn,
      </if>
      <if test="zzxs != null">
        zzxs,
      </if>
      <if test="zzfl != null">
        zzfl,
      </if>
      <if test="zzqt != null">
        zzqt,
      </if>
      <if test="temp1 != null">
        temp1,
      </if>
      <if test="temp2 != null">
        temp2,
      </if>
      <if test="temp3 != null">
        temp3,
      </if>
      <if test="temp4 != null">
        temp4,
      </if>
      <if test="temp5 != null">
        temp5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fatherid != null">
        #{fatherid,jdbcType=BIGINT},
      </if>
      <if test="hzid != null">
        #{hzid,jdbcType=BIGINT},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="itemvalue != null">
        #{itemvalue,jdbcType=VARCHAR},
      </if>
      <if test="yds != null">
        #{yds,jdbcType=VARCHAR},
      </if>
      <if test="ydsjl != null">
        #{ydsjl,jdbcType=VARCHAR},
      </if>
      <if test="ydsejsg != null">
        #{ydsejsg,jdbcType=VARCHAR},
      </if>
      <if test="tjdate != null">
        #{tjdate,jdbcType=VARCHAR},
      </if>
      <if test="ydlx != null">
        #{ydlx,jdbcType=VARCHAR},
      </if>
      <if test="ydcxsj != null">
        #{ydcxsj,jdbcType=VARCHAR},
      </if>
      <if test="ydtjbz != null">
        #{ydtjbz,jdbcType=VARCHAR},
      </if>
      <if test="zzdndy != null">
        #{zzdndy,jdbcType=VARCHAR},
      </if>
      <if test="zzyn != null">
        #{zzyn,jdbcType=VARCHAR},
      </if>
      <if test="zzxs != null">
        #{zzxs,jdbcType=VARCHAR},
      </if>
      <if test="zzfl != null">
        #{zzfl,jdbcType=VARCHAR},
      </if>
      <if test="zzqt != null">
        #{zzqt,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null">
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        #{temp3,jdbcType=VARCHAR},
      </if>
      <if test="temp4 != null">
        #{temp4,jdbcType=VARCHAR},
      </if>
      <if test="temp5 != null">
        #{temp5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.med.brenda.model.TnbTnbson">
    update S_TNB_TNBSON
    <set>
      <if test="fatherid != null">
        fatherid = #{fatherid,jdbcType=BIGINT},
      </if>
      <if test="hzid != null">
        hzid = #{hzid,jdbcType=BIGINT},
      </if>
      <if test="itemcode != null">
        itemcode = #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="itemvalue != null">
        itemvalue = #{itemvalue,jdbcType=VARCHAR},
      </if>
      <if test="yds != null">
        yds = #{yds,jdbcType=VARCHAR},
      </if>
      <if test="ydsjl != null">
        ydsjl = #{ydsjl,jdbcType=VARCHAR},
      </if>
      <if test="ydsejsg != null">
        ydsejsg = #{ydsejsg,jdbcType=VARCHAR},
      </if>
      <if test="tjdate != null">
        tjdate = #{tjdate,jdbcType=VARCHAR},
      </if>
      <if test="ydlx != null">
        ydlx = #{ydlx,jdbcType=VARCHAR},
      </if>
      <if test="ydcxsj != null">
        ydcxsj = #{ydcxsj,jdbcType=VARCHAR},
      </if>
      <if test="ydtjbz != null">
        ydtjbz = #{ydtjbz,jdbcType=VARCHAR},
      </if>
      <if test="zzdndy != null">
        zzdndy = #{zzdndy,jdbcType=VARCHAR},
      </if>
      <if test="zzyn != null">
        zzyn = #{zzyn,jdbcType=VARCHAR},
      </if>
      <if test="zzxs != null">
        zzxs = #{zzxs,jdbcType=VARCHAR},
      </if>
      <if test="zzfl != null">
        zzfl = #{zzfl,jdbcType=VARCHAR},
      </if>
      <if test="zzqt != null">
        zzqt = #{zzqt,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null">
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
      <if test="temp4 != null">
        temp4 = #{temp4,jdbcType=VARCHAR},
      </if>
      <if test="temp5 != null">
        temp5 = #{temp5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.med.brenda.model.TnbTnbson">
    update S_TNB_TNBSON
    set fatherid = #{fatherid,jdbcType=BIGINT},
      hzid = #{hzid,jdbcType=BIGINT},
      itemcode = #{itemcode,jdbcType=VARCHAR},
      itemname = #{itemname,jdbcType=VARCHAR},
      itemvalue = #{itemvalue,jdbcType=VARCHAR},
      yds = #{yds,jdbcType=VARCHAR},
      ydsjl = #{ydsjl,jdbcType=VARCHAR},
      ydsejsg = #{ydsejsg,jdbcType=VARCHAR},
      tjdate = #{tjdate,jdbcType=VARCHAR},
      ydlx = #{ydlx,jdbcType=VARCHAR},
      ydcxsj = #{ydcxsj,jdbcType=VARCHAR},
      ydtjbz = #{ydtjbz,jdbcType=VARCHAR},
      zzdndy = #{zzdndy,jdbcType=VARCHAR},
      zzyn = #{zzyn,jdbcType=VARCHAR},
      zzxs = #{zzxs,jdbcType=VARCHAR},
      zzfl = #{zzfl,jdbcType=VARCHAR},
      zzqt = #{zzqt,jdbcType=VARCHAR},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR},
      temp4 = #{temp4,jdbcType=VARCHAR},
      temp5 = #{temp5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>