<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.med.brenda.dao.TnbYinshiMapper">
  <resultMap id="BaseResultMap" type="com.med.brenda.model.TnbYinshi">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="fatherid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="hzid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="itemcode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="itemname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zhushi" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shuiguo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rou" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="nai" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dan" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="you" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bindgan" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jzhushi" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jsc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jshuiguo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jrou" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jnai" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jdan" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jyou" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jbindgan" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="image1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="image2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="image3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp5" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, fatherid, hzid, itemcode, itemname, zhushi, sc, shuiguo, rou, nai, dan, you, 
    bindgan, jzhushi, jsc, jshuiguo, jrou, jnai, jdan, jyou, jbindgan, image1, image2, 
    image3, temp1, temp2, temp3, temp4, temp5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from S_TNB_YINSHI
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getYinshiListByHzid_date" parameterType="java.lang.Long" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from S_TNB_YINSHI
    where 1=1 
  	<if test="hzid != null">
    	and hzid = #{hzid,jdbcType=BIGINT}
    </if>
    <if test="temp5 != null">
    	and temp5 = #{temp5,jdbcType=VARCHAR}
    </if>
    <if test="itemcode != null">
    	and itemcode like CONCAT('${itemcode}','%' )
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from S_TNB_YINSHI
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.med.brenda.model.TnbYinshi">
  <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
		</selectKey>
    insert into S_TNB_YINSHI (fatherid, hzid, 
      itemcode, itemname, zhushi, 
      sc, shuiguo, rou, nai, 
      dan, you, bindgan, 
      jzhushi, jsc, jshuiguo, 
      jrou, jnai, jdan, jyou, 
      jbindgan, image1, image2, 
      image3, temp1, temp2, 
      temp3, temp4, temp5
      )
    values (#{fatherid,jdbcType=BIGINT}, #{hzid,jdbcType=BIGINT}, 
      #{itemcode,jdbcType=VARCHAR}, #{itemname,jdbcType=VARCHAR}, #{zhushi,jdbcType=VARCHAR}, 
      #{sc,jdbcType=VARCHAR}, #{shuiguo,jdbcType=VARCHAR}, #{rou,jdbcType=VARCHAR}, #{nai,jdbcType=VARCHAR}, 
      #{dan,jdbcType=VARCHAR}, #{you,jdbcType=VARCHAR}, #{bindgan,jdbcType=VARCHAR}, 
      #{jzhushi,jdbcType=VARCHAR}, #{jsc,jdbcType=VARCHAR}, #{jshuiguo,jdbcType=VARCHAR}, 
      #{jrou,jdbcType=VARCHAR}, #{jnai,jdbcType=VARCHAR}, #{jdan,jdbcType=VARCHAR}, #{jyou,jdbcType=VARCHAR}, 
      #{jbindgan,jdbcType=VARCHAR}, #{image1,jdbcType=VARCHAR}, #{image2,jdbcType=VARCHAR}, 
      #{image3,jdbcType=VARCHAR}, #{temp1,jdbcType=VARCHAR}, #{temp2,jdbcType=VARCHAR}, 
      #{temp3,jdbcType=VARCHAR}, #{temp4,jdbcType=VARCHAR}, #{temp5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.med.brenda.model.TnbYinshi">
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
		</selectKey>
    insert into S_TNB_YINSHI
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fatherid != null">
        fatherid,
      </if>
      <if test="hzid != null">
        hzid,
      </if>
      <if test="itemcode != null">
        itemcode,
      </if>
      <if test="itemname != null">
        itemname,
      </if>
      <if test="zhushi != null">
        zhushi,
      </if>
      <if test="sc != null">
        sc,
      </if>
      <if test="shuiguo != null">
        shuiguo,
      </if>
      <if test="rou != null">
        rou,
      </if>
      <if test="nai != null">
        nai,
      </if>
      <if test="dan != null">
        dan,
      </if>
      <if test="you != null">
        you,
      </if>
      <if test="bindgan != null">
        bindgan,
      </if>
      <if test="jzhushi != null">
        jzhushi,
      </if>
      <if test="jsc != null">
        jsc,
      </if>
      <if test="jshuiguo != null">
        jshuiguo,
      </if>
      <if test="jrou != null">
        jrou,
      </if>
      <if test="jnai != null">
        jnai,
      </if>
      <if test="jdan != null">
        jdan,
      </if>
      <if test="jyou != null">
        jyou,
      </if>
      <if test="jbindgan != null">
        jbindgan,
      </if>
      <if test="image1 != null">
        image1,
      </if>
      <if test="image2 != null">
        image2,
      </if>
      <if test="image3 != null">
        image3,
      </if>
      <if test="temp1 != null">
        temp1,
      </if>
      <if test="temp2 != null">
        temp2,
      </if>
      <if test="temp3 != null">
        temp3,
      </if>
      <if test="temp4 != null">
        temp4,
      </if>
      <if test="temp5 != null">
        temp5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fatherid != null">
        #{fatherid,jdbcType=BIGINT},
      </if>
      <if test="hzid != null">
        #{hzid,jdbcType=BIGINT},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="zhushi != null">
        #{zhushi,jdbcType=VARCHAR},
      </if>
      <if test="sc != null">
        #{sc,jdbcType=VARCHAR},
      </if>
      <if test="shuiguo != null">
        #{shuiguo,jdbcType=VARCHAR},
      </if>
      <if test="rou != null">
        #{rou,jdbcType=VARCHAR},
      </if>
      <if test="nai != null">
        #{nai,jdbcType=VARCHAR},
      </if>
      <if test="dan != null">
        #{dan,jdbcType=VARCHAR},
      </if>
      <if test="you != null">
        #{you,jdbcType=VARCHAR},
      </if>
      <if test="bindgan != null">
        #{bindgan,jdbcType=VARCHAR},
      </if>
      <if test="jzhushi != null">
        #{jzhushi,jdbcType=VARCHAR},
      </if>
      <if test="jsc != null">
        #{jsc,jdbcType=VARCHAR},
      </if>
      <if test="jshuiguo != null">
        #{jshuiguo,jdbcType=VARCHAR},
      </if>
      <if test="jrou != null">
        #{jrou,jdbcType=VARCHAR},
      </if>
      <if test="jnai != null">
        #{jnai,jdbcType=VARCHAR},
      </if>
      <if test="jdan != null">
        #{jdan,jdbcType=VARCHAR},
      </if>
      <if test="jyou != null">
        #{jyou,jdbcType=VARCHAR},
      </if>
      <if test="jbindgan != null">
        #{jbindgan,jdbcType=VARCHAR},
      </if>
      <if test="image1 != null">
        #{image1,jdbcType=VARCHAR},
      </if>
      <if test="image2 != null">
        #{image2,jdbcType=VARCHAR},
      </if>
      <if test="image3 != null">
        #{image3,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null">
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        #{temp3,jdbcType=VARCHAR},
      </if>
      <if test="temp4 != null">
        #{temp4,jdbcType=VARCHAR},
      </if>
      <if test="temp5 != null">
        #{temp5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.med.brenda.model.TnbYinshi">
    update S_TNB_YINSHI
    <set>
      <if test="fatherid != null">
        fatherid = #{fatherid,jdbcType=BIGINT},
      </if>
      <if test="hzid != null">
        hzid = #{hzid,jdbcType=BIGINT},
      </if>
      <if test="itemcode != null">
        itemcode = #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="zhushi != null">
        zhushi = #{zhushi,jdbcType=VARCHAR},
      </if>
      <if test="sc != null">
        sc = #{sc,jdbcType=VARCHAR},
      </if>
      <if test="shuiguo != null">
        shuiguo = #{shuiguo,jdbcType=VARCHAR},
      </if>
      <if test="rou != null">
        rou = #{rou,jdbcType=VARCHAR},
      </if>
      <if test="nai != null">
        nai = #{nai,jdbcType=VARCHAR},
      </if>
      <if test="dan != null">
        dan = #{dan,jdbcType=VARCHAR},
      </if>
      <if test="you != null">
        you = #{you,jdbcType=VARCHAR},
      </if>
      <if test="bindgan != null">
        bindgan = #{bindgan,jdbcType=VARCHAR},
      </if>
      <if test="jzhushi != null">
        jzhushi = #{jzhushi,jdbcType=VARCHAR},
      </if>
      <if test="jsc != null">
        jsc = #{jsc,jdbcType=VARCHAR},
      </if>
      <if test="jshuiguo != null">
        jshuiguo = #{jshuiguo,jdbcType=VARCHAR},
      </if>
      <if test="jrou != null">
        jrou = #{jrou,jdbcType=VARCHAR},
      </if>
      <if test="jnai != null">
        jnai = #{jnai,jdbcType=VARCHAR},
      </if>
      <if test="jdan != null">
        jdan = #{jdan,jdbcType=VARCHAR},
      </if>
      <if test="jyou != null">
        jyou = #{jyou,jdbcType=VARCHAR},
      </if>
      <if test="jbindgan != null">
        jbindgan = #{jbindgan,jdbcType=VARCHAR},
      </if>
      <if test="image1 != null">
        image1 = #{image1,jdbcType=VARCHAR},
      </if>
      <if test="image2 != null">
        image2 = #{image2,jdbcType=VARCHAR},
      </if>
      <if test="image3 != null">
        image3 = #{image3,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null">
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
      <if test="temp4 != null">
        temp4 = #{temp4,jdbcType=VARCHAR},
      </if>
      <if test="temp5 != null">
        temp5 = #{temp5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.med.brenda.model.TnbYinshi">
    update S_TNB_YINSHI
    set fatherid = #{fatherid,jdbcType=BIGINT},
      hzid = #{hzid,jdbcType=BIGINT},
      itemcode = #{itemcode,jdbcType=VARCHAR},
      itemname = #{itemname,jdbcType=VARCHAR},
      zhushi = #{zhushi,jdbcType=VARCHAR},
      sc = #{sc,jdbcType=VARCHAR},
      shuiguo = #{shuiguo,jdbcType=VARCHAR},
      rou = #{rou,jdbcType=VARCHAR},
      nai = #{nai,jdbcType=VARCHAR},
      dan = #{dan,jdbcType=VARCHAR},
      you = #{you,jdbcType=VARCHAR},
      bindgan = #{bindgan,jdbcType=VARCHAR},
      jzhushi = #{jzhushi,jdbcType=VARCHAR},
      jsc = #{jsc,jdbcType=VARCHAR},
      jshuiguo = #{jshuiguo,jdbcType=VARCHAR},
      jrou = #{jrou,jdbcType=VARCHAR},
      jnai = #{jnai,jdbcType=VARCHAR},
      jdan = #{jdan,jdbcType=VARCHAR},
      jyou = #{jyou,jdbcType=VARCHAR},
      jbindgan = #{jbindgan,jdbcType=VARCHAR},
      image1 = #{image1,jdbcType=VARCHAR},
      image2 = #{image2,jdbcType=VARCHAR},
      image3 = #{image3,jdbcType=VARCHAR},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR},
      temp4 = #{temp4,jdbcType=VARCHAR},
      temp5 = #{temp5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>