<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.med.brenda.dao.WdbsMapper">
  <resultMap id="BaseResultMap" type="com.med.brenda.model.Wdbs">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="hzid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="hzname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jbname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="scfxsj" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="qzsj" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="scfxzz" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bzhms" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zldx" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bw" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bzhms1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zy" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fq" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="wxcf" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bzhms2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="imageurl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="imageurl2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="imageurl1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ffsj" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ffbw" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ffzdx" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="temp5" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, hzid, hzname, jbname, scfxsj, qzsj, scfxzz, bzhms, zldx, bw, bzhms1, zy, fq, 
    wxcf, bzhms2, imageurl, imageurl2, imageurl1, ffsj, ffbw, ffzdx, temp1, temp2, temp3, 
    temp4, temp5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from S_WDBS
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from S_WDBS
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.med.brenda.model.Wdbs">
    insert into S_WDBS (id, hzid, hzname, 
      jbname, scfxsj, qzsj, 
      scfxzz, bzhms, zldx, 
      bw, bzhms1, zy, fq, 
      wxcf, bzhms2, imageurl, 
      imageurl2, imageurl1, ffsj, 
      ffbw, ffzdx, temp1, 
      temp2, temp3, temp4, 
      temp5)
    values (#{id,jdbcType=BIGINT}, #{hzid,jdbcType=BIGINT}, #{hzname,jdbcType=VARCHAR}, 
      #{jbname,jdbcType=VARCHAR}, #{scfxsj,jdbcType=BIGINT}, #{qzsj,jdbcType=BIGINT}, 
      #{scfxzz,jdbcType=VARCHAR}, #{bzhms,jdbcType=VARCHAR}, #{zldx,jdbcType=VARCHAR}, 
      #{bw,jdbcType=VARCHAR}, #{bzhms1,jdbcType=VARCHAR}, #{zy,jdbcType=VARCHAR}, #{fq,jdbcType=VARCHAR}, 
      #{wxcf,jdbcType=VARCHAR}, #{bzhms2,jdbcType=VARCHAR}, #{imageurl,jdbcType=VARCHAR}, 
      #{imageurl2,jdbcType=VARCHAR}, #{imageurl1,jdbcType=VARCHAR}, #{ffsj,jdbcType=VARCHAR}, 
      #{ffbw,jdbcType=VARCHAR}, #{ffzdx,jdbcType=VARCHAR}, #{temp1,jdbcType=VARCHAR}, 
      #{temp2,jdbcType=VARCHAR}, #{temp3,jdbcType=VARCHAR}, #{temp4,jdbcType=VARCHAR}, 
      #{temp5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.med.brenda.model.Wdbs">
    insert into S_WDBS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hzid != null">
        hzid,
      </if>
      <if test="hzname != null">
        hzname,
      </if>
      <if test="jbname != null">
        jbname,
      </if>
      <if test="scfxsj != null">
        scfxsj,
      </if>
      <if test="qzsj != null">
        qzsj,
      </if>
      <if test="scfxzz != null">
        scfxzz,
      </if>
      <if test="bzhms != null">
        bzhms,
      </if>
      <if test="zldx != null">
        zldx,
      </if>
      <if test="bw != null">
        bw,
      </if>
      <if test="bzhms1 != null">
        bzhms1,
      </if>
      <if test="zy != null">
        zy,
      </if>
      <if test="fq != null">
        fq,
      </if>
      <if test="wxcf != null">
        wxcf,
      </if>
      <if test="bzhms2 != null">
        bzhms2,
      </if>
      <if test="imageurl != null">
        imageurl,
      </if>
      <if test="imageurl2 != null">
        imageurl2,
      </if>
      <if test="imageurl1 != null">
        imageurl1,
      </if>
      <if test="ffsj != null">
        ffsj,
      </if>
      <if test="ffbw != null">
        ffbw,
      </if>
      <if test="ffzdx != null">
        ffzdx,
      </if>
      <if test="temp1 != null">
        temp1,
      </if>
      <if test="temp2 != null">
        temp2,
      </if>
      <if test="temp3 != null">
        temp3,
      </if>
      <if test="temp4 != null">
        temp4,
      </if>
      <if test="temp5 != null">
        temp5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hzid != null">
        #{hzid,jdbcType=BIGINT},
      </if>
      <if test="hzname != null">
        #{hzname,jdbcType=VARCHAR},
      </if>
      <if test="jbname != null">
        #{jbname,jdbcType=VARCHAR},
      </if>
      <if test="scfxsj != null">
        #{scfxsj,jdbcType=BIGINT},
      </if>
      <if test="qzsj != null">
        #{qzsj,jdbcType=BIGINT},
      </if>
      <if test="scfxzz != null">
        #{scfxzz,jdbcType=VARCHAR},
      </if>
      <if test="bzhms != null">
        #{bzhms,jdbcType=VARCHAR},
      </if>
      <if test="zldx != null">
        #{zldx,jdbcType=VARCHAR},
      </if>
      <if test="bw != null">
        #{bw,jdbcType=VARCHAR},
      </if>
      <if test="bzhms1 != null">
        #{bzhms1,jdbcType=VARCHAR},
      </if>
      <if test="zy != null">
        #{zy,jdbcType=VARCHAR},
      </if>
      <if test="fq != null">
        #{fq,jdbcType=VARCHAR},
      </if>
      <if test="wxcf != null">
        #{wxcf,jdbcType=VARCHAR},
      </if>
      <if test="bzhms2 != null">
        #{bzhms2,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="imageurl2 != null">
        #{imageurl2,jdbcType=VARCHAR},
      </if>
      <if test="imageurl1 != null">
        #{imageurl1,jdbcType=VARCHAR},
      </if>
      <if test="ffsj != null">
        #{ffsj,jdbcType=VARCHAR},
      </if>
      <if test="ffbw != null">
        #{ffbw,jdbcType=VARCHAR},
      </if>
      <if test="ffzdx != null">
        #{ffzdx,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null">
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        #{temp3,jdbcType=VARCHAR},
      </if>
      <if test="temp4 != null">
        #{temp4,jdbcType=VARCHAR},
      </if>
      <if test="temp5 != null">
        #{temp5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.med.brenda.model.Wdbs">
    update S_WDBS
    <set>
      <if test="hzid != null">
        hzid = #{hzid,jdbcType=BIGINT},
      </if>
      <if test="hzname != null">
        hzname = #{hzname,jdbcType=VARCHAR},
      </if>
      <if test="jbname != null">
        jbname = #{jbname,jdbcType=VARCHAR},
      </if>
      <if test="scfxsj != null">
        scfxsj = #{scfxsj,jdbcType=BIGINT},
      </if>
      <if test="qzsj != null">
        qzsj = #{qzsj,jdbcType=BIGINT},
      </if>
      <if test="scfxzz != null">
        scfxzz = #{scfxzz,jdbcType=VARCHAR},
      </if>
      <if test="bzhms != null">
        bzhms = #{bzhms,jdbcType=VARCHAR},
      </if>
      <if test="zldx != null">
        zldx = #{zldx,jdbcType=VARCHAR},
      </if>
      <if test="bw != null">
        bw = #{bw,jdbcType=VARCHAR},
      </if>
      <if test="bzhms1 != null">
        bzhms1 = #{bzhms1,jdbcType=VARCHAR},
      </if>
      <if test="zy != null">
        zy = #{zy,jdbcType=VARCHAR},
      </if>
      <if test="fq != null">
        fq = #{fq,jdbcType=VARCHAR},
      </if>
      <if test="wxcf != null">
        wxcf = #{wxcf,jdbcType=VARCHAR},
      </if>
      <if test="bzhms2 != null">
        bzhms2 = #{bzhms2,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        imageurl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="imageurl2 != null">
        imageurl2 = #{imageurl2,jdbcType=VARCHAR},
      </if>
      <if test="imageurl1 != null">
        imageurl1 = #{imageurl1,jdbcType=VARCHAR},
      </if>
      <if test="ffsj != null">
        ffsj = #{ffsj,jdbcType=VARCHAR},
      </if>
      <if test="ffbw != null">
        ffbw = #{ffbw,jdbcType=VARCHAR},
      </if>
      <if test="ffzdx != null">
        ffzdx = #{ffzdx,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null">
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
      <if test="temp4 != null">
        temp4 = #{temp4,jdbcType=VARCHAR},
      </if>
      <if test="temp5 != null">
        temp5 = #{temp5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.med.brenda.model.Wdbs">
    update S_WDBS
    set hzid = #{hzid,jdbcType=BIGINT},
      hzname = #{hzname,jdbcType=VARCHAR},
      jbname = #{jbname,jdbcType=VARCHAR},
      scfxsj = #{scfxsj,jdbcType=BIGINT},
      qzsj = #{qzsj,jdbcType=BIGINT},
      scfxzz = #{scfxzz,jdbcType=VARCHAR},
      bzhms = #{bzhms,jdbcType=VARCHAR},
      zldx = #{zldx,jdbcType=VARCHAR},
      bw = #{bw,jdbcType=VARCHAR},
      bzhms1 = #{bzhms1,jdbcType=VARCHAR},
      zy = #{zy,jdbcType=VARCHAR},
      fq = #{fq,jdbcType=VARCHAR},
      wxcf = #{wxcf,jdbcType=VARCHAR},
      bzhms2 = #{bzhms2,jdbcType=VARCHAR},
      imageurl = #{imageurl,jdbcType=VARCHAR},
      imageurl2 = #{imageurl2,jdbcType=VARCHAR},
      imageurl1 = #{imageurl1,jdbcType=VARCHAR},
      ffsj = #{ffsj,jdbcType=VARCHAR},
      ffbw = #{ffbw,jdbcType=VARCHAR},
      ffzdx = #{ffzdx,jdbcType=VARCHAR},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR},
      temp4 = #{temp4,jdbcType=VARCHAR},
      temp5 = #{temp5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>