<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctor330.dao.ShzsfxxsonMapper">
  <resultMap id="BaseResultMap" type="com.doctor330.model.Shzsfxxson">
    <id column="ID" jdbcType="BIGINT" property="ID" />
    <result column="FATHERID" jdbcType="BIGINT" property="FATHERID" />
    <result column="ITEMCODE" jdbcType="VARCHAR" property="ITEMCODE" />
    <result column="ITEMTYPE" jdbcType="VARCHAR" property="ITEMTYPE" />
    <result column="IMAGEURL" jdbcType="VARCHAR" property="IMAGEURL" />
    <result column="TEMP1" jdbcType="VARCHAR" property="TEMP1" />
    <result column="TEMP2" jdbcType="VARCHAR" property="TEMP2" />
    <result column="TEMP3" jdbcType="VARCHAR" property="TEMP3" />
    <result column="TEMP4" jdbcType="VARCHAR" property="TEMP4" />
    <result column="TEMP5" jdbcType="VARCHAR" property="TEMP5" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, FATHERID, ITEMCODE, ITEMTYPE, IMAGEURL, TEMP1, TEMP2, TEMP3, TEMP4, TEMP5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_hzsfxxson
    where ID = #{ID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_hzsfxxson
    where ID = #{ID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.doctor330.model.Shzsfxxson">
    insert into s_hzsfxxson (ID, FATHERID, ITEMCODE, 
      ITEMTYPE, IMAGEURL, TEMP1, 
      TEMP2, TEMP3, TEMP4, 
      TEMP5)
    values (#{ID,jdbcType=BIGINT}, #{FATHERID,jdbcType=BIGINT}, #{ITEMCODE,jdbcType=VARCHAR}, 
      #{ITEMTYPE,jdbcType=VARCHAR}, #{IMAGEURL,jdbcType=VARCHAR}, #{TEMP1,jdbcType=VARCHAR}, 
      #{TEMP2,jdbcType=VARCHAR}, #{TEMP3,jdbcType=VARCHAR}, #{TEMP4,jdbcType=VARCHAR}, 
      #{TEMP5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.doctor330.model.Shzsfxxson">
    insert into s_hzsfxxson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="FATHERID != null">
        FATHERID,
      </if>
      <if test="ITEMCODE != null">
        ITEMCODE,
      </if>
      <if test="ITEMTYPE != null">
        ITEMTYPE,
      </if>
      <if test="IMAGEURL != null">
        IMAGEURL,
      </if>
      <if test="TEMP1 != null">
        TEMP1,
      </if>
      <if test="TEMP2 != null">
        TEMP2,
      </if>
      <if test="TEMP3 != null">
        TEMP3,
      </if>
      <if test="TEMP4 != null">
        TEMP4,
      </if>
      <if test="TEMP5 != null">
        TEMP5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=BIGINT},
      </if>
      <if test="FATHERID != null">
        #{FATHERID,jdbcType=BIGINT},
      </if>
      <if test="ITEMCODE != null">
        #{ITEMCODE,jdbcType=VARCHAR},
      </if>
      <if test="ITEMTYPE != null">
        #{ITEMTYPE,jdbcType=VARCHAR},
      </if>
      <if test="IMAGEURL != null">
        #{IMAGEURL,jdbcType=VARCHAR},
      </if>
      <if test="TEMP1 != null">
        #{TEMP1,jdbcType=VARCHAR},
      </if>
      <if test="TEMP2 != null">
        #{TEMP2,jdbcType=VARCHAR},
      </if>
      <if test="TEMP3 != null">
        #{TEMP3,jdbcType=VARCHAR},
      </if>
      <if test="TEMP4 != null">
        #{TEMP4,jdbcType=VARCHAR},
      </if>
      <if test="TEMP5 != null">
        #{TEMP5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doctor330.model.Shzsfxxson">
    update s_hzsfxxson
    <set>
      <if test="FATHERID != null">
        FATHERID = #{FATHERID,jdbcType=BIGINT},
      </if>
      <if test="ITEMCODE != null">
        ITEMCODE = #{ITEMCODE,jdbcType=VARCHAR},
      </if>
      <if test="ITEMTYPE != null">
        ITEMTYPE = #{ITEMTYPE,jdbcType=VARCHAR},
      </if>
      <if test="IMAGEURL != null">
        IMAGEURL = #{IMAGEURL,jdbcType=VARCHAR},
      </if>
      <if test="TEMP1 != null">
        TEMP1 = #{TEMP1,jdbcType=VARCHAR},
      </if>
      <if test="TEMP2 != null">
        TEMP2 = #{TEMP2,jdbcType=VARCHAR},
      </if>
      <if test="TEMP3 != null">
        TEMP3 = #{TEMP3,jdbcType=VARCHAR},
      </if>
      <if test="TEMP4 != null">
        TEMP4 = #{TEMP4,jdbcType=VARCHAR},
      </if>
      <if test="TEMP5 != null">
        TEMP5 = #{TEMP5,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doctor330.model.Shzsfxxson">
    update s_hzsfxxson
    set FATHERID = #{FATHERID,jdbcType=BIGINT},
      ITEMCODE = #{ITEMCODE,jdbcType=VARCHAR},
      ITEMTYPE = #{ITEMTYPE,jdbcType=VARCHAR},
      IMAGEURL = #{IMAGEURL,jdbcType=VARCHAR},
      TEMP1 = #{TEMP1,jdbcType=VARCHAR},
      TEMP2 = #{TEMP2,jdbcType=VARCHAR},
      TEMP3 = #{TEMP3,jdbcType=VARCHAR},
      TEMP4 = #{TEMP4,jdbcType=VARCHAR},
      TEMP5 = #{TEMP5,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=BIGINT}
  </update>
</mapper>