<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctor330.dao.StnbYwfaMapper">
  <resultMap id="BaseResultMap" type="com.doctor330.model.StnbYwfa">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="fatherid" jdbcType="BIGINT" property="fatherid" />
    <result column="hzid" jdbcType="BIGINT" property="hzid" />
    <result column="itemcode" jdbcType="VARCHAR" property="itemcode" />
    <result column="itemname" jdbcType="VARCHAR" property="itemname" />
    <result column="ywfa1" jdbcType="VARCHAR" property="ywfa1" />
    <result column="ywfa2" jdbcType="VARCHAR" property="ywfa2" />
    <result column="zao" jdbcType="VARCHAR" property="zao" />
    <result column="zhong" jdbcType="VARCHAR" property="zhong" />
    <result column="wan" jdbcType="VARCHAR" property="wan" />
    <result column="shuaiqian" jdbcType="VARCHAR" property="shuaiqian" />
    <result column="jl1" jdbcType="VARCHAR" property="jl1" />
    <result column="jl2" jdbcType="VARCHAR" property="jl2" />
    <result column="jy" jdbcType="VARCHAR" property="jy" />
    <result column="datarq" jdbcType="VARCHAR" property="datarq" />
    <result column="temp1" jdbcType="VARCHAR" property="temp1" />
    <result column="temp2" jdbcType="VARCHAR" property="temp2" />
    <result column="temp3" jdbcType="VARCHAR" property="temp3" />
    <result column="temp4" jdbcType="VARCHAR" property="temp4" />
    <result column="temp5" jdbcType="VARCHAR" property="temp5" />
    <result column="ysid" jdbcType="VARCHAR" property="ysid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fatherid, hzid, itemcode, itemname, ywfa1, ywfa2, zao, zhong, wan, shuaiqian, 
    jl1, jl2, jy, datarq, temp1, temp2, temp3, temp4, temp5, ysid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from S_TNB_YWFA
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from S_TNB_YWFA
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.doctor330.model.StnbYwfa">
    insert into S_TNB_YWFA (id, fatherid, hzid, 
      itemcode, itemname, ywfa1, 
      ywfa2, zao, zhong, 
      wan, shuaiqian, jl1, 
      jl2, jy, datarq, temp1, 
      temp2, temp3, temp4, 
      temp5, ysid)
    values (#{id,jdbcType=BIGINT}, #{fatherid,jdbcType=BIGINT}, #{hzid,jdbcType=BIGINT}, 
      #{itemcode,jdbcType=VARCHAR}, #{itemname,jdbcType=VARCHAR}, #{ywfa1,jdbcType=VARCHAR}, 
      #{ywfa2,jdbcType=VARCHAR}, #{zao,jdbcType=VARCHAR}, #{zhong,jdbcType=VARCHAR}, 
      #{wan,jdbcType=VARCHAR}, #{shuaiqian,jdbcType=VARCHAR}, #{jl1,jdbcType=VARCHAR}, 
      #{jl2,jdbcType=VARCHAR}, #{jy,jdbcType=VARCHAR}, #{datarq,jdbcType=VARCHAR}, #{temp1,jdbcType=VARCHAR}, 
      #{temp2,jdbcType=VARCHAR}, #{temp3,jdbcType=VARCHAR}, #{temp4,jdbcType=VARCHAR}, 
      #{temp5,jdbcType=VARCHAR}, #{ysid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.doctor330.model.StnbYwfa">
    insert into S_TNB_YWFA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fatherid != null">
        fatherid,
      </if>
      <if test="hzid != null">
        hzid,
      </if>
      <if test="itemcode != null">
        itemcode,
      </if>
      <if test="itemname != null">
        itemname,
      </if>
      <if test="ywfa1 != null">
        ywfa1,
      </if>
      <if test="ywfa2 != null">
        ywfa2,
      </if>
      <if test="zao != null">
        zao,
      </if>
      <if test="zhong != null">
        zhong,
      </if>
      <if test="wan != null">
        wan,
      </if>
      <if test="shuaiqian != null">
        shuaiqian,
      </if>
      <if test="jl1 != null">
        jl1,
      </if>
      <if test="jl2 != null">
        jl2,
      </if>
      <if test="jy != null">
        jy,
      </if>
      <if test="datarq != null">
        datarq,
      </if>
      <if test="temp1 != null">
        temp1,
      </if>
      <if test="temp2 != null">
        temp2,
      </if>
      <if test="temp3 != null">
        temp3,
      </if>
      <if test="temp4 != null">
        temp4,
      </if>
      <if test="temp5 != null">
        temp5,
      </if>
      <if test="ysid != null">
        ysid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fatherid != null">
        #{fatherid,jdbcType=BIGINT},
      </if>
      <if test="hzid != null">
        #{hzid,jdbcType=BIGINT},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="ywfa1 != null">
        #{ywfa1,jdbcType=VARCHAR},
      </if>
      <if test="ywfa2 != null">
        #{ywfa2,jdbcType=VARCHAR},
      </if>
      <if test="zao != null">
        #{zao,jdbcType=VARCHAR},
      </if>
      <if test="zhong != null">
        #{zhong,jdbcType=VARCHAR},
      </if>
      <if test="wan != null">
        #{wan,jdbcType=VARCHAR},
      </if>
      <if test="shuaiqian != null">
        #{shuaiqian,jdbcType=VARCHAR},
      </if>
      <if test="jl1 != null">
        #{jl1,jdbcType=VARCHAR},
      </if>
      <if test="jl2 != null">
        #{jl2,jdbcType=VARCHAR},
      </if>
      <if test="jy != null">
        #{jy,jdbcType=VARCHAR},
      </if>
      <if test="datarq != null">
        #{datarq,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null">
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        #{temp3,jdbcType=VARCHAR},
      </if>
      <if test="temp4 != null">
        #{temp4,jdbcType=VARCHAR},
      </if>
      <if test="temp5 != null">
        #{temp5,jdbcType=VARCHAR},
      </if>
      <if test="ysid != null">
        #{ysid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doctor330.model.StnbYwfa">
    update S_TNB_YWFA
    <set>
      <if test="fatherid != null">
        fatherid = #{fatherid,jdbcType=BIGINT},
      </if>
      <if test="hzid != null">
        hzid = #{hzid,jdbcType=BIGINT},
      </if>
      <if test="itemcode != null">
        itemcode = #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="ywfa1 != null">
        ywfa1 = #{ywfa1,jdbcType=VARCHAR},
      </if>
      <if test="ywfa2 != null">
        ywfa2 = #{ywfa2,jdbcType=VARCHAR},
      </if>
      <if test="zao != null">
        zao = #{zao,jdbcType=VARCHAR},
      </if>
      <if test="zhong != null">
        zhong = #{zhong,jdbcType=VARCHAR},
      </if>
      <if test="wan != null">
        wan = #{wan,jdbcType=VARCHAR},
      </if>
      <if test="shuaiqian != null">
        shuaiqian = #{shuaiqian,jdbcType=VARCHAR},
      </if>
      <if test="jl1 != null">
        jl1 = #{jl1,jdbcType=VARCHAR},
      </if>
      <if test="jl2 != null">
        jl2 = #{jl2,jdbcType=VARCHAR},
      </if>
      <if test="jy != null">
        jy = #{jy,jdbcType=VARCHAR},
      </if>
      <if test="datarq != null">
        datarq = #{datarq,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null">
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null">
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
      <if test="temp4 != null">
        temp4 = #{temp4,jdbcType=VARCHAR},
      </if>
      <if test="temp5 != null">
        temp5 = #{temp5,jdbcType=VARCHAR},
      </if>
      <if test="ysid != null">
        ysid = #{ysid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doctor330.model.StnbYwfa">
    update S_TNB_YWFA
    set fatherid = #{fatherid,jdbcType=BIGINT},
      hzid = #{hzid,jdbcType=BIGINT},
      itemcode = #{itemcode,jdbcType=VARCHAR},
      itemname = #{itemname,jdbcType=VARCHAR},
      ywfa1 = #{ywfa1,jdbcType=VARCHAR},
      ywfa2 = #{ywfa2,jdbcType=VARCHAR},
      zao = #{zao,jdbcType=VARCHAR},
      zhong = #{zhong,jdbcType=VARCHAR},
      wan = #{wan,jdbcType=VARCHAR},
      shuaiqian = #{shuaiqian,jdbcType=VARCHAR},
      jl1 = #{jl1,jdbcType=VARCHAR},
      jl2 = #{jl2,jdbcType=VARCHAR},
      jy = #{jy,jdbcType=VARCHAR},
      datarq = #{datarq,jdbcType=VARCHAR},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR},
      temp4 = #{temp4,jdbcType=VARCHAR},
      temp5 = #{temp5,jdbcType=VARCHAR},
      ysid = #{ysid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>